.svn
.DS_Store
*.map
node_modules
wordpress
vendor
.env

# Test files
.phpunit.result.cache
artifacts/

# Build files
*.hot-update.js
*.hot-update.json
wp-content/
wp-content/
node_modules/
*.txt
dist/

wp-content/
node_modules/
dist/
*.txt
*.log
